<!-- First Question -->
<div class="form-group">
    <p class="question">Pensi che il primo articolo possa essere stato usato come fonte per il secondo?</p>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="sourceYes" name="response_source" value="True" class="custom-control-input" required>
        <label class="custom-control-label" for="sourceYes">Yes</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="sourceNo" name="response_source" value="False" class="custom-control-input" required>
        <label class="custom-control-label" for="sourceNo">No</label>
    </div>
</div>

<!-- Second Question -->
<div class="form-group">
    <p class="question">Pensi che gli articoli trattano lo stesso argomento?</p>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="argumentYes" name="response_argument" value="True" class="custom-control-input" required>
        <label class="custom-control-label" for="argumentYes">Yes</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="argumentNo" name="response_argument" value="False" class="custom-control-input" required>
        <label class="custom-control-label" for="argumentNo">No</label>
    </div>
</div>
